<div class="condo-uploads-wrapper" data-co-uploads data-ng-controller="UploadsCtrl">
	<div class="condo-drop-indicator">
		<div>Drop Files Here</div>
	</div>
	<div class="condo-uploads-container">
		<div class="condo-uploads">		<!-- NOTE:: Controller Name: UploadsCtrl -->
			<div class="condo-upload ng-cloak" co-upload data-ng-repeat="upload in uploads">
				<div class="description">
					<table>
						<tr>
							<td class="icon image"></td>
							<td class="name">{{upload.name}}</td>
						</tr>
					</table>
				</div>
				<div class="stats">
					<table>
						<tr>
							<td class="size">{{size}}</td>
							<td class="controls image" ng-class="{'paused':paused, 'uploading':!paused}" co-tap="playpause(upload)"></td>
							<td class="progressbar">
								<div class="progress " role="progressbar" aria-live="polite" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
									<div class="bar" ng-style="{ 'width': progress + '%' }" ></div>
									<div class="message">
										{{upload.message}}
									</div>
								</div>
							</td>
							<td co-tap="animate_remove(upload, 900)" class="abort image"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="condo-file-selection">
		<form>
			<table>
				<tr>
					<td class="file-upload-btn">
						<span>
							<table>
								<tr>
									<td>
										<label for="file-upload_{{$id}}">Select files</label>
									</td>
								</tr>
							</table>
							<input id="file-upload_{{$id}}" type="file" multiple />
						</span>
					</td>
					<td>
						<input class="autostart" data-ng-model="autostart" id="autostart_{{$id}}" type="checkbox"> <label for="autostart_{{$id}}">Autostart</label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>